<div class="error-msg">
  <% if @task_list.errors.any? %>
      <ul>
      <% @utask_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <%end%>
</div>

<%= form_for(@task_list) do |f| %>
	<div class="field">
    	<p>title</p> 
    	<%= f.text_field :title%>
    </div>
    <div class="field">
     	<%= f.hidden_field :user_id, :value =>current_user.id%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>