
<p>
  <b>Title:</b>
  <%= @todo.title %>
</p>

<p>
  <b>Priority:</b>
  <%= @todo.priority %>
</p>

<p>
  <b>Description:</b>
  <%= @todo.description %>
</p>

<p>
  <b>Completed:</b>
  <%= @todo.completed %>
</p>

<p>
  <b>Tasklist:</b>
  <%= @todo.Tasklist.title %>
</p>

